@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Poppins&display=swap');
@import url('./vars.css');

body {
    font-family: var(--second-font);
    color: var(--azure);
    background-color: var(--azure);
}