.header-container {
    background-color: var(--main-color);
}

.responsive-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links {
    display: flex;
    margin: 1rem 2rem;
}

.nav-link {
    margin: 0 1rem;
}

.link-button {
    position: relative;
    color: var(--text-color);
}

.link-button::after {
    content: '';
    transform-origin: 0 0;
    transform: scaleX(0);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: .4em; 
    background: var(--details-color);
    z-index: -1;
    opacity: 0.8;
    transition: transform .3s;
}

.link-button:hover::after {
    transform: scaleX(1);
}

.burger-menu-bg {
    display: none;
    height: 1.5rem;
    border: none;
    color: inherit;
    background: transparent;
}

@media screen and (max-width: 920px) {

    .header-container {
        min-height: 3.5rem;
    }

    .nav-links {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        right: -100vw;
        bottom: 0;
        height: 100vh;
        visibility: hidden;
        z-index: 10;
    }

    .show-links .nav-links {
        right: 0;
        width: 100vw;
        visibility: visible;
    }

    .nav-link {
        display: block;
        padding: 1.5rem;
        font-size: 3vw;
    }

    .burger-menu-bg {
        display: block;
        position: absolute;
        right: 1rem;
        top: 1rem;
        align-self: center;
        z-index: 10;
        background-color: red;
    }

    .burger-menu-bg:hover {
        cursor: pointer;
    }

    .burger-bar,
    .burger-bar::before,
    .burger-bar::after {
        display: block;
        width: 2rem;
        height: 3px;
        position: relative;
        border-radius: 3px;
        background-color: black;
        transition: all .5s ease-in-out;
    }

    .burger-bar::before,
    .burger-bar::after {
        content: '';
        position: absolute;
        left: 0;
    }

    .burger-bar::before {
        transform: translateY(-8px);
        width: 1.5rem;
    }

    .burger-bar::after {
        transform: translateY(8px);
    }

    .show-links .burger-bar {
        width: 0;
        background: transparent;
    }

    .show-links .burger-bar::before {
        transform: rotate(45deg);
        width: 2rem;
        background-color: var(--details-color);
    }

    .show-links .burger-bar::after {
        transform: rotate(-45deg);
        background-color: var(--details-color);
    }

    .show-links .burger-menu-bg {
        position: fixed;
    }
}