.section-container {
    color: var(--oxford-blue);
    padding: 15vh 10vw;
    background-color: transparent;
    display: flex;
    flex-direction: column;
}

.section-container h3 {
    font-size: calc(1rem + 3vw);
    position: relative;
    left: 10px;
    width: fit-content;
    margin-bottom: 7rem;
}

.section-container h3::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: .2em;
    width: 100%;
    background: var(--light-blue);
    z-index: -1;
    opacity: 0.8;border-radius: 2px;
    transition: all .3s ease-in-out;
}

.section-container h3:hover::after {
    height: 1em;
}

.section-container article {
    font-size: calc(.8rem + 1vw);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.text-container {
    max-width: 50rem;
    margin: 3rem;
    padding: 1rem;
}

.text-container p {
    line-height: 3rem;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--oxford-blue);
    min-width: 20rem;
    min-height: 20rem;
    width: 20rem;
    height: 20rem;
    padding: 2rem;
    border-radius: 37% 63% 70% 30% / 51% 64% 36% 49% ;
}

.image {
    width: 100%;
    height: 100%;
    background-image: url("../portrait-min.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 37% 63% 70% 30% / 51% 64% 36% 49%  ;
}

@media screen and (max-width: 1200px) {
    .section-container article {
        flex-direction: column;
    }
}

@media screen and (max-width: 920px) {
    .text-container p {
        text-align: justify;
    }
}

/* Skills sections */

#skills article {
    display: flex;
    flex-direction: column;
}

.badge-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 2rem;
    margin-bottom: 3rem;
}

.badge {
    width: calc(3rem + 2vw);
    height: calc(3rem + 2vw);
    background-repeat: no-repeat;
    background-size: cover;
}

#reactjs {
    background-image: url('../reactjs.svg');
}
#mongodb {
    background-image: url('../mongodb.svg');
}
#nodejs {
    background-image: url('../nodejs.svg');
}
#expressjs {
    background-image: url('../expressjs.svg');
}