:root {
    --main-color: #0000002b;
    --second-color: white;
    --text-color: black;
    --details-color: red;

    --main-font: 'Fira Sans', sans-serif;
    --second-font: 'Poppins', sans-serif;
}